<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/ZUI.min.css">
    <link rel="stylesheet" href="plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <title>移动护理后台 | 系统配置项参数</title>
    <!-- [if lt IE 9]
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    [endif] -->
</head>
<body ng-app="ydhlApp" class="body-transition skin-blue sidebar-mini" onload="">
<div class="wrapper">
    <header id="header" ng-include="'common/header.html'"></header>
    <aside id="aside" ng-include="'common/aside.html'"></aside>
    <div class="content-wrapper" ng-controller="sysvarController">
        <section class="content-header">
            <h1>移动护理管理后台
                <small>控制面板</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="javascript:;"><i class="fa fa-dashboard"></i>控制面板</a></li>
                <li class="active">首页</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">系统配置参数</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-responsive" id="sysvar-table">
                                        <tr>
                                            <th>控制项ID</th>
                                            <th>控制项代码</th>
                                            <th>控制项名称</th>
                                            <th>控制项值</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr ng-repeat="one in sysvars">
                                            <td>{{one.sysvarId}}</td>
                                            <td>{{one.code}}</td>
                                            <td>{{one.name}}</td>
                                            <td ng-if="one.type == 0"><input type="checkbox" ng-model="one.value" ng-true-value="'1'" ng-false-value="'0'" ng-click="setEnable(one.sysvarId, one.value)">是否启用</td>
                                            <td ng-if="one.type == 1">{{one.value}}</td>
                                            <td>
                                                <button type="button" class="btn btn-box-tool" ng-click="deleteSysvar(one.sysvarId, $index)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">添加系统配置参数</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-responsive">
                                        <tr>
                                            <td><input type="text" class="form-control" name="code" ng-model="newSysvar.code" placeholder="控制项代码，如:jci"></td>
                                            <td><input type="text" class="form-control" name="name" ng-model="newSysvar.name" placeholder="控制项名称，如:是否遵循JCI标准标志"></td>
                                            <td><input type="text" class="form-control" name="type" ng-model="newSysvar.type" placeholder="控制项类型：0/1"></td>
                                            <td><input type="text" class="form-control" name="value" ng-model="newSysvar.value" placeholder="控制项值"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" ng-click="addSysvar()">添加系统配置项</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">更新系统配置参数</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-responsive">
                                        <tr>
                                            <td>
                                                <select class="form-control" name="code" id="update-sysvar-select-sysvarid" title="" ng-model="toUpdateId" ng-change="selectSysvarToUpdate()">
                                                    <option ng-repeat="one in sysvars" value="{{one.sysvarId}}" ng-click="selectSysvarToUpdate(one.code)">{{one.sysvarId}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="toUpdateSysvar.code" placeholder="控制项代码">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="toUpdateSysvar.name" placeholder="控制项名称">
                                            </td>
                                            <td><input class="form-control" type="text" name="value" ng-model="toUpdateSysvar.value" placeholder="请输入控制项值"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" ng-click="updateSysvar()">更新系统配置项</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="js/lib/jQuery-2.1.4.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/AdminLTE.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/sysvar.js"></script>
</body>
</html>